@import url("https://fonts.googleapis.com/css2?family=Allura&family=IM+Fell+English&family=IM+Fell+English+SC&display=swap");

:root {
    --allura: "Allura", cursive;
    --im-fell-english: "IM Fell English", serif;
    --im-fell-english-sc: "IM Fell English SC", serif;

    --background-color-info: #fafdf344;
    --background-color-light: #fafdf398;
    --background-color-light-non-transparent: #fafdf3;
    --background-color-dark: #dadabf98;
    --background-color-dark-non-transparent: #dadabf;
    --light-grey: #f0f4f8;
    --light-grey-transparent: rgba(240, 244, 248, 0.7);
    --dark-grey: rgba(159, 179, 200, 0.7);
    --dark-grey-transparent:rgba(159, 179, 200, 0.7);

    --navbar-height: 7vh;
    --section-height: 100vh;
    --bckg-img-max-width: 650px;
    --slide-width: 70vw;
    --slide-max-width: 700px;
    --slide-min-width: 200px;
    --slide-heigth: calc(var(--slide-width) * 9 / 16);
    --slide-max-heigth: calc(var(--slide-max-width) * 9 / 16);
    --slide-min-heigth: 300px;

    --transition: 0.3s ease-in-out all;
}

body {
    text-align: center;
    max-width: 100vw;
    align-items: center;
    margin: 0;
    padding: 0;
    font-family: var(--im-fell-english);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: url("./DA_drawing_color_v2.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 85vw;
}

button {
    border: none;
    cursor: pointer;
    background-color: ;
    font-family: var(--im-fell-english);
    font-size: 1.2rem;
    border-radius: 10px;
    width: 100%;
}

.landing-section h1 {
    font-size: 10vw;
}

.landing-section h2 {
    font-size: 6vw;
}

.react-icon {
    color: black;
    font-size: 3vw;
}

.heart-icon {
    font-size: 5vh;
    max-height: 70px;
    color: rgb(255, 0, 0);
}

.landing-section h1,
h2 {
    font-family: var(--allura);
    margin: 0;
}

.section-container {
    background-color: var(--background-color-light);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    max-height: var(--section-height);
    margin: 0;
    padding: 0;
}

.landing-section .info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60vh;
}

.landing-section .name-container {
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.section-container.dark {
    background-color: var(--background-color-dark);
}

a:hover {
    cursor: pointer;
}

.show {
    z-index: 99;
    opacity: 1;
}

/* Form */
.form {
    height: 40vh;
    width: 50vw;
    max-width: 400px;
    min-width: 300px;
    background-color: rgba(255, 255, 255, 0.85);
    padding: 25px 0;
    border-radius: 10px;
    border: none;
    border-style: solid;
    border-color: var(--light-grey);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form:hover {
    box-shadow: 0 0 5px 5px var(--light -grey);
    
}

@media (min-width: calc(650px + 15vw)) {
    body {
        background-size: 650px;
    }

    .landing-section h1 {
        font-size: 10vh;
    }

    .landing-section h2 {
        font-size: 5vh;
    }

    .react-icon {
        font-size: 3vh;
    }

    .heart-icon {
        font-size: 6vw;
    }
}

@media (max-width: 992px) {
    .section-container.landing-section {
        background-color: var(--background-color-light);
        max-height: 100vh;
    }

    .landing-section .info-container {
        height: 40vh;
    }
}