@import url('https://fonts.googleapis.com/css2?family=Allura&family=IM+Fell+English&family=IM+Fell+English+SC&display=swap');

:root {
    --allura: 'Allura', cursive;
    --im-fell-english: 'IM Fell English', serif;
    --im-fell-english-sc: 'IM Fell English SC', serif;

    --background-color-info: rgba(250, 253, 243, 0.5);
    --background-color-light: #fafdf398;
    --background-color-light-non-transparent: #fafdf3;
    --background-color-dark: rgba(218, 218, 191, 0.6);
    --background-color-dark-non-transparent: #dadabf;
    --light-grey: #f0f4f8;
    --light-grey-transparent: rgba(240, 244, 248, 0.7);
    --dark-grey: rgba(159, 179, 200, 0.7);
    --dark-grey-transparent: rgba(159, 179, 200, 0.7);
    --blue: rgb(88, 169, 215);
    --blue-transparent: rgba(88, 169, 215, 0.7);
    --red-light: #f8d7da;
    --red-dark: #842029;
    --green-light: #d1e7dd;
    --green-dark: #0f5132;

    --navbar-height: 7vh;
    --bckg-img-max-width: 650px;
    --bckg-img-min-width: 250px;
    --slide-width: 70vw;
    --slide-max-width: 800px;
    --slide-min-width: 200px;
    --slide-heigth: calc(var(--slide-width) * 9 / 16);
    --slide-max-heigth: calc(var(--slide-max-width) * 9 / 16);
    --slide-min-heigth: 300px;

    --container-border-radius: 25px;
    --container-box-shadow: 0 0 20px 20px var(--background-color-info);

    --transition: 0.3s ease-in-out all;
}


body {
    text-align: center;
    width: 100vw;
    align-items: center;
    margin: 0;
    padding: 0;
    font-family: var(--im-fell-english);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: url('./DA_drawing_color_v2.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: var(--bckg-img-max-width);
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    z-index: 1;
}

button {
    border: none;
    cursor: pointer;
    font-family: var(--im-fell-english);
    font-size: 1.2rem;
    border-radius: 10px;
    width: 100%;
}

.react-icon {
    color: black;
    font-size: 30px;
}

.heart-icon {
    font-size: 5rem;
    color: rgb(255, 0, 0);
    min-height: 50px;
}

.section-container {
    background-color: var(--background-color-light);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.section-container.dark {
    background-color: var(--background-color-dark);
}

a {
    color: black;
}

a:hover {
    cursor: pointer;
}

.show {
    z-index: 99;
    opacity: 1;
}

.section-title {
    font-family: var(--allura);
    width: 80vw;
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translate(-50%, 0);
    font-size: 4rem;
    margin: 0;
}

@media (max-width: 992px) {
    body {
        background-size: clamp(var(--bckg-img-min-width),
                82vw,
                var(--bckg-img-max-width));
    }

    .heart-icon {
        font-size: clamp(2.45rem, 15vw, 5rem);
    }

    .section-title {
        top: 3vh;
        font-size: 2.5rem;
    }

}